<!DOCTYPE html>
<html>
<head>
    <title>Submit Form</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="subject">Subject:</label>
        <label for="science">Science:</label>
        <input type="text" id="science" name="science" placeholder="Science"><br>
        <label for="math">Math:</label>
        <input type="text" id="math" name="math" placeholder="Math"><br>
        <label for="datascience">Data Science:</label>
        <input type="text" id="datascience" name="datascience" placeholder="Data Science"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>